* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body{
  background-color: #191416;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}

h2 .fa {
  font-size: 3rem;
  padding-right: 0.3em;
}
h2 {
  font-size: 2rem;
}

i {
  color: #ffaf5c;
}

footer {
  text-align: center;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.resume {
  font-size: 1.5rem;
}

.resume a {
  display: block;
  float: left;
  color: #fd78a8;
  text-decoration: none;
  border-right: 2px solid #fd78a8;
  padding: 0 1em;
}

.resume a:first-child {
  padding-left: 0;
}

.resume a:last-child {
  border-right: none;
}

.resume a:hover {
  text-decoration: underline;
}

.social a {
  padding-right: 0.3em;
}

.social a:last-child {
  padding-right: 0;
}
