/* Sarah's simple portfolio
 * Hurray!
 * *************************************/


* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

html {
  font-size: 8px;
}

@media only screen and (min-width: 340px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 500px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}

body{
  background-color: #191416;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  padding: 1em;
}

header {
  font-size: 4rem;
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 0.5em;
}

i {
  color: inherit;
}


/*********************
 * Footer
 * *******************/

footer {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.resume a {
  font-size: 1em;
  color: #fd78a8;
  text-decoration: none;
  border-right: 2px solid #fd78a8;
  padding: 0 1em;
}

.resume a:first-child {
  padding-left: 0;
}

.resume a:last-child {
  border-right: none;
}

.resume a:hover {
  text-decoration: underline;
}

.social a {
  font-size: 1.25em;
  color: #ffaf5c;
  padding-right: 0.4em;
}

.social a:last-child {
  padding-right: 0;
}



/*********************
 * Fadein Animations
 * *******************/

@-webkit-keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}

@-moz-keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1 1s forwards;
  -moz-animation: fadeIn ease-in 1 1s forwards;
  animation: fadeIn ease-in 1 1s forwards;
}

.fade-in-order-2 {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in-order-3 {
  -webkit-animation-delay: 5.2s;
  -moz-animation-delay: 5.2s;
  animation-delay: 5.2s;
}

.fade-in-order-4 {
  -webkit-animation-delay: 9.75s;
  -moz-animation-delay: 9.75s;
  animation-delay: 9.75s;
}



/*********************
 * Typing Animations
 * *******************/

@-webkit-keyframes typing {
  from { width: 100% }
  to { width: 0 }
}

@-moz-keyframes typing {
  from { width: 100% }
  to { width: 0 }
}

@keyframes typing {
  from { width: 100% }
  to { width: 0 }
}

@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

@-moz-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}



/*********************
 * Typing Styles
 * *******************/

.typing-container {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
}

.typing {
  position: relative;
}

.typing-prompt i {
  color: #ffaf5c;
  font-size: 3rem;
  padding-right: 0.3em;
}

.typing span {
  position:absolute;
  top:0;
  right:0;
  width:0;
  background: #191416;
  border-left: .1em solid white;
  height: 105%;
  width: 101%;
}

.typing.adventures span {
  -webkit-animation: typing 2.5s steps(21, end) 1.7s forwards, /* # of steps = # of characters */
  blink-caret 1s step-end 1 4.2s forwards;
  -moz-animation: typing 2.5s steps(21, end) 1.7s forwards, /* # of steps = # of characters */
  blink-caret 1s step-end 1 4.2s forwards;
  animation: typing 2.5s steps(21, end) 1.7s forwards, /* # of steps = # of characters */
  blink-caret 1s step-end 1 4.2s forwards;
}

.typing.codes span {
  -webkit-animation: typing 1.55s steps(13, end) 6.2s forwards, /* # of steps = # of characters */
  blink-caret 1s step-end 7.75s 2 forwards;
  -moz-animation: typing 1.55s steps(13, end) 6.2s forwards, /* # of steps = # of characters */
  blink-caret 1s step-end 7.75s 2 forwards;
  animation: typing 1.55s steps(13, end) 6.2s forwards, /* # of steps = # of characters */
  blink-caret 1s step-end 7.75s 2 forwards;
}
